@import "./TittleCard/tittleCard";
@import "./Menu/menu";
@import "../ReplaceCart/replace";
.restaurent {
  width: 100%;
  max-width: 685px;
}
.overlay {
  position: fixed; /* Stay in place */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Sit on top */
}
.shimmer-card.restaurent{
  margin: 3rem 0;
  margin-bottom: 8rem;
}
.shimmer-res-tittle{
  height: 65px;
    width: 100%;
    margin-bottom: 10px;
}
.shimmer-data{
  padding: 15px;
}
.shimmer-res-content{
  border-radius: 8px;
    width: 100%;
    height: 8px;
    margin-bottom: 10px;
}
.shimmer-card.menu{
  width: 100%;
  max-width: 685px;
  height: 55px;
  margin-bottom: 3rem;
}