@mixin transition($property, $duration, $timing) {
    transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    -ms-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
  }
  
  @mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
  }
  
  // Define the mixin
@mixin center-text-style($color-orange, $color-green) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin btn($color-orange, $color-green) {
  background-color: $color-orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    background-color: $color-green;
  }
}