@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$Poppins-family: "Poppins", serif;
$fs-36: 2.25rem;
$fs-24: 1.5rem;
$fs-20: 1.25rem;
$fs-15: 0.938rem;
$fs-13: 0.813rem;
$color-red: #ea5454;
$color-aqua: #44d3d2;
$color-orange: #fcae4a;
$color-blue: #549ef2;
$color-gray: #c2c9d6;
$color-dark-gray: #565454;
