@import 'variables';
@import 'mixins';
*,
::before,
::after {
  box-sizing: border-box;
}

body{
 height: 100%;
 font-family: $Poppins-family;
}
body,
h1,
h2,
p,
ul,
hr {
  margin: 0;
  padding: 0;
}
.star{
  color: $color-green;
}
@import '../components/Home/home';
@import '../components/DetailsPage/resDetails';
@import '../components/Cart/cart';
@import '../components/Checkout/checkout';
@import '../components/AboutUs/about';