@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Poppins", serif;
}

body,
h1,
h2,
p,
ul,
hr {
  margin: 0;
  padding: 0;
}

.star {
  color: #8fc73f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logo-img {
  width: 130px;
  height: auto;
}
.logo h1 {
  font-size: 0.938rem;
}

nav .menu {
  display: none;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 100;
}
nav ul li {
  cursor: pointer;
}
nav ul li a {
  color: #fcae4a;
  text-decoration: none;
}
nav ul li a.active {
  color: #8fc73f;
}
nav ul :hover {
  color: #8fc73f;
}

@media (min-width: 360px) and (max-width: 768px) {
  .logo .logo-img {
    width: 90px;
    height: auto;
  }
  .logo h1 {
    font-size: 0.813rem;
  }
  nav .menu {
    display: block;
    cursor: pointer;
  }
  nav .menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fcae4a;
  }
  nav .menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  nav .menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  nav ul {
    gap: 0;
  }
  nav ul li {
    margin: 1rem 0;
  }
  nav .nav-list {
    position: fixed;
    right: -100%;
    top: 5.7rem;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: white;
    z-index: 10000;
  }
  nav .active {
    right: 0;
  }
}
body hr {
  height: 1px;
  color: #c2c9d6;
  background: #c2c9d6;
  font-size: 0;
  border: 0;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  flex-direction: column;
}
.content .cards a {
  text-decoration: none;
}

.search-sort-filter {
  display: flex;
}

.nothing-found {
  color: #fcae4a;
}

@media (min-width: 360px) and (max-width: 768px) {
  .search-sort-filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "sort filter" "search search";
    justify-items: center;
  }
  .sort-section {
    grid-area: sort;
  }
  .search-section {
    order: 3;
    grid-area: search;
    margin: 1rem 0;
  }
  .filter-section {
    grid-area: filter;
  }
}
.sort-box {
  background-color: #fff;
  border: 1px solid #c2c9d6;
  border-radius: 20px;
  min-height: 220px;
  margin-top: 0.313rem;
  position: absolute;
  z-index: 10000;
}

.sort-options {
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 1.063rem;
  padding-left: 1rem;
  font-size: 0.813rem;
}
.sort-options label {
  cursor: pointer;
}

.sort-apply-btn {
  padding: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

.search-wrap {
  margin: 0 1rem;
  position: relative;
}
.search-wrap input {
  border-radius: 20px;
  border: 1px solid #fcae4a;
  padding: 0.5rem;
}
.search-wrap input:focus {
  border: 1px solid #fcae4a;
  outline: none;
}
.search-wrap .icon {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #fcae4a;
}
.search-wrap i.fa-times {
  cursor: pointer;
}

.searched-text h1 {
  text-align: center;
}

.filter-section {
  position: relative;
}

.search-sort-filter {
  margin: 3rem 0 0;
}

.filter-box {
  border: 1px solid #c2c9d6;
  border-radius: 20px;
  min-height: 220px;
  margin-top: 0.313rem;
  position: absolute;
  background-color: #fff;
  z-index: 10000;
}

.primary-btn {
  cursor: pointer;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  background-color: #fcae4a;
  color: #fff;
  font-size: 0.938rem;
}
.primary-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

.active-btn {
  background-color: #fcae4a;
  background-image: linear-gradient(to right, #8fc73f, #fcae4a);
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}
.title-section h1 {
  font-weight: 400;
}

.close-icon {
  color: #565454;
  cursor: pointer;
}

ul.filter-list {
  list-style-type: none;
  font-size: 0.813rem;
}
ul.filter-list li {
  cursor: pointer;
  margin: 1rem 0;
}
ul.filter-list li:hover {
  color: #fcae4a;
  font-weight: 700;
}

.filter-options {
  display: flex;
  padding: 0 0.8rem;
}

.selected-filter-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 1.063rem;
  border-left: 1px solid #c2c9d6;
  padding-left: 1rem;
  margin-left: 1rem;
  font-size: 0.813rem;
}
.selected-filter-section label {
  white-space: nowrap;
}
.selected-filter-section label:hover,
.selected-filter-section input {
  cursor: pointer;
  color: #fcae4a;
}

.selected {
  color: #fcae4a;
}

.hide {
  display: none;
}

.show {
  display: block;
}

div.filter-buttons {
  display: flex;
  gap: 3;
  padding: 0.8rem;
}

@media (min-width: 360px) and (max-width: 768px) {
  .search-sort-filter {
    width: 100%;
    max-width: 234px;
  }
  .filter-box {
    right: 0;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 2rem;
  margin: 3rem 0;
}

.card-wrapper {
  cursor: pointer;
  max-width: 231px;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.card-wrapper:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.card-img {
  max-height: 154px;
  overflow: hidden;
  border-radius: 10px;
}
.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-desc {
  padding: 0.625rem;
  padding-bottom: 0;
  color: #000;
}
.card-desc p,
.card-desc h2 {
  font-size: 0.938rem;
  font-weight: 300;
  color: #565454;
}
.card-desc h1,
.card-desc p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shimmer-card {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 6px;
  overflow: hidden;
  width: 231px;
}

.shimmer-bg {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

.shimmer-img {
  height: 154px;
}

.shimmer-title {
  height: 24px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.shimmer-content {
  height: 8px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 8px;
}

@media (min-width: 360px) and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.tittle {
  margin: 3rem 0;
}

.res-card {
  background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
  padding: 0px 16px 16px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}
.res-card .res-details {
  border: 1px solid #c2c9d6;
  border-radius: 10px;
  background-color: white;
}
.res-card .res-details .card-tittle {
  background-color: #8fc73f;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-size: 1.25rem;
}
.res-card .res-details .card-details {
  padding: 15px;
}
.res-card .res-details .card-details .location,
.res-card .res-details .card-details .ratingTiming {
  font-size: 0.938rem;
}
.res-card .res-details .card-details .ratingTiming {
  margin: 10px 0;
}
.res-card .res-details .card-details h3 {
  font-size: 0.813rem;
  margin: 0;
}

@media (min-width: 360px) and (max-width: 768px) {
  .res-card .res-details .location, .res-card .res-details .ratingTiming {
    font-size: 0.813rem;
  }
}
.menu {
  text-align: center;
}
.menu .menu-card {
  text-align: left;
  font-size: 0.813rem;
}
.menu .menu-card .menu-items-title {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  cursor: pointer;
}
.menu .menu-card .menu-item {
  display: flex;
  padding-bottom: 1rem;
}
.menu .menu-card .menu-item .menu-desc {
  color: rgba(2, 6, 12, 0.6);
  word-break: break-word;
}
.menu .menu-card .menu-item .menu-desc a {
  text-decoration: none;
  color: rgba(2, 6, 12, 0.6);
}
.menu .menu-card .menu-item .menu-rating {
  color: #8fc73f;
  padding: 0.5rem 0;
}
.menu .menu-card .menu-item .menu-item-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-height: 174px;
  min-width: 156px;
  overflow: hidden;
  margin-left: 2rem;
}
.menu .menu-card .menu-item .menu-item-img img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 156px;
  height: 114px;
  display: block;
  margin: 1.7rem 0;
}
.menu .menu-card .menu-item .menu-item-img .add-btn {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 9px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.menu .category-seperator {
  height: 15px;
  background: #dfdfe7;
  margin-top: 15px;
}

@media (min-width: 360px) and (max-width: 768px) {
  .menu .menu-card .menu-item {
    flex-direction: column;
    padding-bottom: 0;
  }
  .menu .menu-card .menu-item .menu-desc {
    display: none;
  }
  .menu .menu-card .menu-item .menu-item-img {
    max-width: 156px;
    margin-left: 0;
  }
  .menu .menu-card .menu-item .menu-item-img img {
    margin-top: 0.7rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .menu .menu-card .menu-item .menu-desc {
    display: block;
  }
}
.restaurent {
  width: 100%;
  max-width: 685px;
}/*# sourceMappingURL=main.css.map */