header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-img {
    width: 130px;
    height: auto;
  }
  h1 {
    font-size: $fs-15;
  }
}

nav {
  .menu {
    display: none;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 100;

    li {
      cursor: pointer;
      a{
        color: $color-orange;
        text-decoration: none;
      }
      a.active{
        color: $color-green;
      }
    }:hover{
      color: $color-green;
    }
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .logo {
    .logo-img {
      width: 90px;
      height: auto;
    }
    h1 {
      font-size: $fs-13;
    }
  }
  nav {
    .menu {
      display: block;
      cursor: pointer;
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $color-orange;
      }
    }
    .menu.active .bar:nth-child(2) {
      opacity: 0;
    }

    .menu.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .menu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    ul {
      gap: 0;
      li {
        margin: 1rem 0;
      }
    }
    .nav-list {
      position: fixed;
      right: -100%;
      top: 5.7rem;
      flex-direction: column;
      width: 50%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      background-color: white;
      z-index: 10000;
    }
    .active {
      right: 0;
    }
  }
}
