.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  margin: 3rem 0;
}

.card-wrapper {
  cursor: pointer;
  max-width: 231px;
  @include transition(transform, 0.3s, ease-in-out);

  &:hover {
    @include transform(scale(0.95));
  }
}

.card-img {
  max-height: 154px;
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.card-desc {
  padding: 0.625rem;
  padding-bottom: 0;
  color: #000;
  p,
  h2 {
    font-size: $fs-15;
    font-weight: 300;
    color: $color-dark-gray;
  }

  h1,
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.shimmer-card{
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 6px;
  overflow: hidden;
  width: 231px;
}

.shimmer-bg {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}
.shimmer-img {
  height: 154px;
}
.shimmer-title {
  height: 24px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}
.shimmer-content {
  height: 8px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 8px;
}
@media (min-width: 360px) and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}