.menu {
  text-align: center;
  .menu-card {
    text-align: left;
    font-size: $fs-13;
    .menu-items-title {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      cursor: pointer;
    }
    .menu-item {
      display: flex;
      padding-bottom: 1rem;
      .menu-desc {
        color: $color-textGray;
        word-break: break-word;
        a {
          text-decoration: none;
          color: $color-textGray;
        }
      }
      .menu-rating {
        color: $color-green;
        padding: 0.5rem 0;
      }
      .menu-item-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        max-height: 174px;
        min-width: 156px;
        overflow: hidden;
        margin-left: 2rem;
        img {
          border-radius: 20px;
          object-fit: cover;
          width: 156px;
          height: 114px;
          display: block;
          margin: 1.7rem 0;
        }
        .add-btn {
          position: absolute;
          bottom: 14px;
          left: 50%;
          transform: translateX(-50%);
          padding: 5px 9px;
          background-color: #000;
          border: 1px solid #000;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .category-seperator {
    height: 15px;
    background: #dfdfe7;
    margin-top: 15px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .menu .menu-card .menu-item {
    flex-direction: column;
    padding-bottom: 0;
  }
  .menu .menu-card .menu-item .menu-desc {
    display: none;
  }
  .menu .menu-card .menu-item .menu-item-img {
    max-width: 156px;
    margin-left: 0;
  }
  .menu .menu-card .menu-item .menu-item-img img {
    margin-top: 0.7rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .menu .menu-card .menu-item .menu-desc {
    display: block;
  }
}